* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background: #ecf0f3;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.header {
  overflow: hidden;
  background-color: #ecf0f3;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10px;
  box-shadow: 13px 13px 20px #cbced1
}
.header a {
  float: left;
  display: block;
  color: #034f84;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
/* .header home-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
} */
.header a:hover {
  background-color: #034f84;
  color: #ecf0f3;
}
.header-right {
  float: right;
}
.header-center {
  float: center;
  color: #034f84;
  text-align: center;
  padding: 12px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 25px;
  border-radius: 4px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header-center {
    float: none;
  }
}
.home-box {
  padding-top: 200px;
}
.name-link {
  width: 430px;
  height: 600px;
  padding: 35px 35px 35px 35px;
  border-radius: 40px;
  text-decoration: none;
  background: #034f84;
  box-shadow: 13px 13px 20px #cbced1,
             -13px -13px 20px #ffffff;
}
