* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background: #ecf0f3;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.header {
  overflow: hidden;
  background-color: #ecf0f3;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 13px 13px 20px #cbced1
}
.header a {
  float: left;
  display: block;
  color: #034f84;
  text-align: center;
  padding: 10px;
  margin-right: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header img {
  width: 100px;
  height: 100px;
  margin: center;
  background-size: 100px;
  float: left;
}
.header a:hover {
  background-color: #034f84;
  color: #ecf0f3;
  size: 30px 10px;
}
.header-right {
  float: right;
  margin-top: 25px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.home-box {
  display: inline-table;
  text-align: center;
  vertical-align: middle;
  padding-top: 110px;
  margin-left:auto;
  margin-right:auto;
}
.post-title {
  width: 400px;
  height: 10px;
  display: table;
  border-collapse: separate;
  border-spacing: 1px;
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  border-radius: 25px 25px 0 0;
  color: #ecf0f3;
  text-decoration: none;
  text-align: center;
  background: #034f84;
  box-shadow: 13px 13px 20px #cbced1,
             -13px -13px 20px #ffffff;
}
.user-content {
  width: 400px;
  height: 10px;
  display: table;
  border-collapse: separate;
  border-spacing: 1px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  border-radius: 0 0 25px 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1;
}
