<h2>Create your account</h2>

<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <br></br>
  <label for="email">Email:</label>
  <input type="email" name="email" id="email">
  <br></br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <br></br>
  <button type="submit" name="create account">Create account</button>
</form>
