<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/compose.css">
  </head>
  <body>
    <div class="header">
      <div class="home-logo"><img src="/images/Medivation_Logo.png"></div>
      <div class="header-right">
        <a class="home-button" href="/home">HOME</a>
        <a class="compose-button" href="/compose">COMPOSE</a>
        <a class="profile-button" href="/user/<%= Helpers.current_user(session).id %>">PROFILE</a>
        <a class="settings-button" href="/settings">ACCOUNT SETTINGS</a>
      </div>
    </div>

<form action="/compose" method="post">
  <input type="text" name="title" id="title" placeholder="Title" required>
  <br></br>
  <textarea name="content" placeholder="Inspire the world..." required rows="20" cols="60"></textarea>
  <br></br>
  <input type="submit" value="Post">
</form>
