<h2>Compose Medivation post</h2>

<form action="/compose" method="post">
  <input type="text" name="title" id="title" placeholder="Title" required>
  <br></br>
  <textarea name="content" placeholder="Inspire the world..." required rows="20" cols="60"></textarea>
  <br></br>
  <input type="submit" value="Post">
</form>
