<a href="/user/:id">Profile</a>
<a href="/settings">Account Settings</a>

<h1>Medivation</h1>
<h2>Home</h2>

<ul>
  <% @users.all do | user | %>
  <li>
  <p><b><%= user.username %></b></p>
  <p><u><%= user.title %></u></p>
  <p><%= post.content %></p>
  </li>
  <% end %>

</ul>
