<a href="/user/<%= @user.id %>">Profile</a>

<a href="/settings">Account Settings</a>

<h1>Medivation</h1>
<h2>Home</h2>

<a href="/compose"><button>Compose</button></a>

<ul>
  <% @users.each do | user | %>
  <li>
  <p><b><%= user.username %></b></p>
  <% end %>

</ul>
