<h1> Medivation </h1>

<p> Welcome to <b>Medivation</b>
  <br> You personal <em>meditative</em> and <em>motivational</em> reflections to share with the world
  <br> Inspire and be inspired
</p>

<a href="/login">Log In</a>
<a href="/signup">Sign Up</a>
